body {
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  background-image: url('img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 600px;
  border-radius: 25px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

h1, h2 {
  text-align: center;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  background: black;
  color: white;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

button {
  display: block;
  border-radius: 50px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#reservationSummary {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="number"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 1px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.fixerclean {
  clear: both;
}